<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tw Test</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Open+Sans"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <script>


    
  </script>
  <link rel="shortcut icon" href="../static/img/twilio.ico" />
  </head>
  <body>
    <h3  class="title fadeIn first">
      Twilio Test
      <img class="logo" src="../static/img/twilio.png" />
    </h3>

        <div class="wrapper fadeInDown">
            <div id="formContent">
              <div class="alert alert-info" id ='alert' style="display: none;"></div>
            <!-- Message Form -->
            <form method="POST" id="message-form">
              
                <input type="tel" id="phone" class="fadeIn second duplicate-me" name="phone" placeholder="Send message to: " />
                <button type="button" id="addNew">+</button><br/>
                <input type="txt_body" id="txt_body" class="fadeIn third" name="txt_body" placeholder="Text body: " />
                <input type="reset" class="fadeIn fourth reset" id ='button' value="Reset"/>
                <input type="submit" class="fadeIn fourth" id ='s_button' value="Send "   />
                
            </form>

            
            
            <div id='status1'></div>
            <div id='status2'></div>   
          
            </div>
        </div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="../static/js/main.js"></script>  

        

                        

                       

</html>
